[user]
	name = Andreas Kristoffersen
	email = Krissam@gmail.com
[core]
	editor = vim
[alias]
    st = status
    ci = commit --verbose
    co = checkout
    aa = add --all
    ff = merge --ff-only
    pullff = pull --ff-only
    dh1 = diff HEAD~1
[merge]
    tool = vimdiff
